.git
.github
.venv
.env
.env.*
gha-creds-*.json
.terraform
*.tfvars
*.tfvars.json
backend.hcl
.pytest_cache
.ruff_cache
.basedpyright
__pycache__
*.py[cod]
.coverage
htmlcov
dbt/target
dbt/logs
dbt/.user.yml
tests
docs
infra
