#!include:.gitignore

.git
.gcloudignore
.env
.env.*
gha-creds-*.json
*.tfvars
*.tfvars.json
backend.hcl
.terraform
.github
.pytest_cache
.ruff_cache
.basedpyright
__pycache__
.coverage
htmlcov
tests
docs
infra
